@font-face {
    font-family: avenueX;
    src: url(fonts/AvenueX-Regular.otf);
}
@font-face {
    font-family: kasse;
    src: url(fonts/KasseFLF.ttf);
}
@font-face {
    font-family: kasseB;
    src: url(fonts/KasseFLF-Bold.ttf);
}
@font-face {
    font-family: kasseU;
    src: url(fonts/KasseUltraFLF.ttf);
}
@font-face {
    font-family: staravenue;
    src: url(fonts/staravenue.ttf);
}

*{
    box-sizing: border-box;
    font-family: avenueX;
    color: rgb(14, 35, 37);
}

html{
    background-color: rgba(87, 108, 108, 0.68);
}

html, body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
    color: aliceblue;
}

.nav a{
    display: inline-block;
    padding: .5em;
    text-decoration-line: none;
    color: aliceblue;
}

.nav a:hover{
    background-color: rgba(152, 159, 159, 0.728);
    border-radius: 25%;
}

.main_nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(128, 128, 128, 0.587);
}

.main_nav li{
    padding: 0 5%;
}

.mainH{
    background-color: rgba(0, 0, 0, 0.532);
    background-image: url(images/Chip-Chrome.webp);
    background-blend-mode: multiply;
    background-size: contain;
    border-radius: 2%;
    padding-bottom: 30px;
}

.titleN{
    color: rgb(215, 231, 226);
    font-family: kasseB;
    margin: 0%;
}

.head{
    text-align: center;
    font-size: 4em;
}

.container-sec{
    margin: 1em;
}


.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.sec-header{
    font-family: kasseU;
    font-weight: 10;
    font-size: 2em;
    text-align: center;
}

.aboutIm{
    border-radius: 50%;
    float: left;
    margin: 7px;
    width: 200px;
    height: 200px;
}

.mainF{
    background-color: rgb(16, 50, 39);
    padding: .5em;
}

.mainF-container{
    display: flex;
    align-items: center;
}

.mainF-container li{
    padding: 0 .5em;
}

.mainF-container ul{
    flex-grow: 1;
    text-align: end;
}

.mainF-container img{
    width: 30px;
}

.btn{
    cursor: pointer;
    border-radius: 15%;
    padding: .7em;
    margin: 20pt;
    text-align: center;
    vertical-align: middle;
}
.btn:hover{
    background-color: rgba(161, 163, 162, 0.32);
}

.btnH{
    border-color: black;
    background-color: rgba(7, 59, 43, 0.734);
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btnH:hover{
    background-color: rgba(7, 59, 43, 0.32);
}

.btnH a{
    color: white;
}

.btnPlay{
    display: block;
    margin: 0 auto;
    color: whitesmoke;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}

.tourRow{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
    align-items: center;
    text-align: center;
}

.shopItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shopItem{
    margin: 30px;
}

.shopItemTitle{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(8, 19, 20);
    margin-bottom: 15px;
}

.shopItemImg{
    height: 250px;
    width: 250px;
}

.shopItemDet{
    display: flex;
    align-items: center;
    padding: 5px;
}

.shopItemPrice{
    flex-grow: 1;
    color: rgb(8, 19, 20);
}

.cartH{
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(8, 19, 20);
}

.cartCol{
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row{
    display: flex;
}

.cartIt{
    width: 45%;
}
.cartPr{
    width: 20%;
}
.cartQu{
    width: 35%;
}